# docker-compose.yml
version: '3.8'

services:
  redpanda:
    image: docker.redpanda.com/redpandadata/redpanda:v24.2.5
    command:
      - redpanda
      - start
      - --smp
      - '1'
      - --overprovisioned
      - --node-id
      - '0'
      - --kafka-addr
      - PLAINTEXT://0.0.0.0:9092
      - --advertise-kafka-addr
      - PLAINTEXT://redpanda:9092
    ports:
      - "9092:9092"
    volumes:
      - redpanda_data:/var/lib/redpanda/data

  generator:
    build:
      context: .
      dockerfile: Dockerfile.generator
    depends_on:
      - redpanda
    environment:
      - PYTHONUNBUFFERED=1

  collector:
    build:
      context: .
      dockerfile: Dockerfile.collector
    depends_on:
      - redpanda
    environment:
      - PYTHONUNBUFFERED=1

  clickhouse:
    image: clickhouse/clickhouse-server:24.8
    ports:
      - "8123:8123"  # HTTP
      - "9000:9000"  # Native
    volumes:
      - clickhouse_data:/var/lib/clickhouse
      - ./storage/init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      - CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1

  grafana:
    image: grafana/grafana:11.3.0
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_INSTALL_PLUGINS=vertamedia-clickhouse-datasource
    volumes:
      - ./dashboard/provisioning:/etc/grafana/provisioning
    depends_on:
      - clickhouse

volumes:
  redpanda_data: {}
  clickhouse_data: {}